:root{
    --primary-color: #e7a65c;
    --secondary-color: #b2f0ff;
    --color-3: black;
    --color-4: white;
    --color-5: #f8e9c4;
    --color-6: #EDFBFF;
    --text-dark: #16191e;
    --text-light: white;
}

body {
    align-items: center;
    min-height: 100vh; /*Que ocupe toda la pantalla, para que el footer se quede abajo*/
    width: 100%;
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

main button {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 15em;
    height: 2.5em;
    padding: 0 20px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: var(--color-3);
    background: var(--secondary-color);
    border: none;
    border-radius: 10px;
}

main section{
    background-color: var(--color-4);
}

section h1{
    text-align: center;
}

#seccionPeludo{
    margin-top: 20px;
}

#seccionPeludo h1{
    margin-top: 40px;
}

.estadoPeludo{
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.estadoPeludo table{
    text-align: start;
    align-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

.estadoPeludo table td{
    padding-right: 10px;
    width: fit-content;
}

.estadoPeludo table td button{
    width: fit-content;
    margin-top: 0;
    font-size: small;
    margin-bottom: 0;
    background-color: #4CE77FFF;
}

.estadoPeludo td img{
    margin-right: 0;
    align-content: end;
}

.celdaSinPadding{
    padding-right: 0;
}

.imagenEstado{
    text-align: right;
}

.estadoPeludo img{
    margin-right: 60px;
}

.userImg{
    border-radius: 50%;
}

section table{
    width: 50%;
}

section td{
    width: 50%;
}