:root{
    --primary-color: #e7a65c;
    --secondary-color: #b2f0ff;
    --color-3: black;
    --color-4: white;
    --color-5: #f8e9c4;
    --color-6: #EDFBFF;
    --text-dark: #16191e;
    --text-light: white;
}

body {
    align-items: center;
    min-height: 100vh; /*Que ocupe toda la pantalla, para que el footer se quede abajo*/
    width: 100%;
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

main h1{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100%;
}

#seccionPeludo{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    width: 70vw;
    height: 100%;
    /* El mouse con forma de algo clickeable */
    cursor: pointer;
}

.div_column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.estadoPeludo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 0px;
}

.estadoPeludo table{
    text-align: start;
    align-content: center;
}

.estadoPeludo table td{
    padding-right: 10px;
    width: fit-content;
}

.estadoPeludo table td button{
    height: 2.5em;
    padding: 0 20px;
    line-height: 30px;
    font-weight: 500;
    color: var(--color-3);
    border: none;
    border-radius: 10px;
}

.estadoActivo{
    background-color: #4CE77FFF;
}

.estadoInactivo{
    background-color: #ff5d60;
}

.estadoPeludo td img{
    margin-right: 0;
    align-content: end;
}

.celdaSinPadding{
    padding-right: 0;
}

.imagenEstado{
    text-align: right;
}

.estadoPeludo img{
    max-width: fit-content;
    margin-right: 60px;
}

.imagenPeludo{
    max-width: 30vw;
    max-height: 30vh;
    border-radius: 10px;
    margin: 0;
}

section table{
    width: 50%;
}

section td{
    width: 50%;
    padding-bottom: 30px;
}
