body{
    position: relative;
    min-height: 100vh; /*Que ocupe toda la pantalla, para que el footer se quede abajo*/
    margin: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 13em;
}

/*header*/
header{
    position: fixed; /*El header se queda estático*/
    top: 0; /*Mandarlo arriba del todo*/
    width: 100%;
    font-family: 'Fredoka';
    padding: 0px;
}

.black{
    background-color: #171A1FFF;
}

.centrar{
    display: flex;
    justify-content: center;
    margin-left: 120px;
}

.derecha{
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 20px;
}

.navbar-brand h1{
    font-size: 1.5em;
    font-family: 'Chewy';
    color: #E7A65CFF;
}

.iniciarSesion{
    color: #E7A65CFF;
    padding: 10px;
    background-color: transparent;
    border: none; /* Quita el borde si no se necesita */
    font-family: "Fredoka", sans-serif;
    margin-right: 25px;
}

.iniciarSesion:hover{
    color: rgb(173, 125, 69);
}

.registrarse {
    background-color: #E7A65CFF;
    border-radius: 5px;
    padding: 10px;
    color: white;
    border: none; /* Quita el borde si no se necesita */
    font-family: "Fredoka", sans-serif;
}

.registrarse:hover{
    background-color: rgb(173, 125, 69);
}
/*header*/

/*main*/
main{
    margin-top: 122px;
}

#presentacion{
    display: flex;
}

.seccionDorada{
    background: #E7A65CFF;
}

#presentacion h1{
    font-family: 'Chewy';
    font-size: 64px; 
    line-height: 84px; 
    font-weight: 400; 
    color: #171A1FFF;
    width: 681px; 
    height: 136px;
}

#presentacion p{
    font-family: 'Fredoka';
    font-size: 24px; 
    line-height: 36px; 
    font-weight: 400; 
    color: #171A1FFF;
    width: 681px; 
    height: 72px;
    margin-top: 150px;
    font-weight: normal;
}

#presentacion button{
    width: 444px; 
    height: 66px; 
    padding: 0 20px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Fredoka; 
    font-size: 20px; 
    line-height: 30px; 
    font-weight: 500; 
    color: #FFFFFFFF; 
    background: #171A1FE6; 
    opacity: 1; 
    border: none; 
    border-radius: 8px;
    margin-top: 50px;
}

#perro{
    width: 546px; 
    height: 592px;
    margin-top: 101px;
    margin-left: 200px;
}

#estrellas{
    width: 90px; 
    height: 90px;
    fill: #000000d9;
    margin-top: 120px;
    margin-left: -120px;
}

#eslogan{
    width: 50px; 
    height: 30px;
}

#presentacion span{
    width: 681px; 
    height: 448px;
    margin-left: 50px;
}

.medkit{
    width: 132px; 
    height: 132px; 
    fill: #171A1FFF;
    margin-top: 20px;
}

.tituloServicios{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.tituloServicios h1{
    width: 590px; 
    font-family: 'Chewy'; 
    font-size: 64px; 
    line-height: 84px; 
    font-weight: 700; 
    color: #171A1FFF;
    text-align: center;
}

.descripcionServicio{
    width: 345px; 
    height: 349px; 
    background: #FFFBDFCC; 
    border-radius: 8px; 
    box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
}

.descripcionServicio img{
    width: 100%; 
    height: 231px; 
    border-radius: 8px 8px 0px 0px;
}

#contenedorServicios{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
}

#contenedorServicios h2{
    font-family: 'Chewy';
    font-size: 24px; 
    line-height: 36px; 
    font-weight: 700; 
    color: #171A1FFF;
    margin-left: 30px;
}

#contenedorServicios p{
    font-family: 'Fredoka';
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 400; 
    color: #323743FF;
    margin-left: 30px;
}

#btnServicios{
    display: flex;
    justify-content: center;
}

#servicios button{
    height: 44px; 
    padding: 0 16px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Fredoka; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400; 
    color: #FFFFFFFF;
    background: #171A1FFF;
    opacity: 1; 
    border: none; 
    border-radius: 4px;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
}
/*main*/

/*Inicio Footer*/
footer{
    display: flex;
    flex-direction: row;
    background-color: #212529;
    color: white;
    position: absolute; /*Que se quede en el mismo lugar*/
    bottom: 0; /*Mandarlo hacia abajo*/
    width: 100%; /*Ocupa todo el ancho*/
    margin-bottom: 0px;
    width: 100%;
    font-family: 'Fredoka';
    padding: 0px;
}

.contactos{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.logoIdioma{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.tarjeta{
    display: flex;
    align-items: start;
    justify-content: start;
    margin-right: 30px;
}

.tarjeta img{
    margin-right: 15px;
}

.copyContactos{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: end;
}

.copyright{	
    display: flex;
}

.copyright li{	
    margin-left: 30px;
}

.down-footer{
    display: flex;
    width: 100%;
    justify-content: center;
}

.redesSociales{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 50px;
}

.redesSociales img{
    margin-left: 10px;
}
/*Fin Footer*/