<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mis Mascotas</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles_mis_mascotas.css">
    <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script_mis_mascotas.js" defer></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <!--Lo hace responsive al navbar-->
            <button class="navbar-toggler black" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="#">
                <img src="/sources/logo.png" alt="logo" width="80px">
                <h1>Chilling Dogs</h1>
            </a>
        </nav>
    </header>

    <main class="carousel slide">
        <h1>Tus peluditos registrados</h1>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div th:each="mascota : ${cliente.mascotas}" th:attr="onclick=|detallesMascota('${mascota.id}')|" class="carousel-item">
                    <section id="seccionPeludo">
                        <div class = "estadoPeludo">
                            <img th:alt="|Perro de ${cliente.nombre}|" th:src="${mascota.foto}" class="imagenPeludo">
                            <div class = "div_column">
                                <h2 th:text="|${mascota.nombre}|"></h2>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="imagenEstado">
                                            <img src="/sources/estado.svg" alt="estado" height="24px">
                                        </td>
                                        <td class="celdaSinPadding">
                                            Estado
                                        </td>
                                        <td>
                                            <button th:if="${mascota.estado} == 'Activo'" class = "estadoActivo">Activo</button>
                                            <button th:if="${mascota.estado} == 'Inactivo'" class = "estadoInactivo">Inactivo</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="imagenEstado">
                                            <img class="imagenEstado" src="/sources/raza.svg" alt="raza" height="24px">
                                        </td>
                                        <td class="celdaSinPadding">
                                            Raza
                                        </td>
                                        <td th:text="${mascota.raza}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <bold>Haz click para ver más información</bold>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <a class="carousel-control-prev" onclick=moverCarrusel(1) role="button" data-slide="prev">
                <svg width="32px" height="32px" viewBox="-0.5 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" transform="matrix(-1, 0, 0, 1, 0, 0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 22.4199C17.5228 22.4199 22 17.9428 22 12.4199C22 6.89707 17.5228 2.41992 12 2.41992C6.47715 2.41992 2 6.89707 2 12.4199C2 17.9428 6.47715 22.4199 12 22.4199Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M10.5596 8.41992L13.6196 11.29C13.778 11.4326 13.9047 11.6068 13.9914 11.8015C14.0781 11.9962 14.123 12.2068 14.123 12.4199C14.123 12.633 14.0781 12.8439 13.9914 13.0386C13.9047 13.2332 13.778 13.4075 13.6196 13.55L10.5596 16.4199" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" onclick=moverCarrusel(-1) role="button" data-slide="next">
                <svg width="32px" height="32px" viewBox="-0.5 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" transform="matrix(1, 0, 0, 1, 0, 0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 22.4199C17.5228 22.4199 22 17.9428 22 12.4199C22 6.89707 17.5228 2.41992 12 2.41992C6.47715 2.41992 2 6.89707 2 12.4199C2 17.9428 6.47715 22.4199 12 22.4199Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M10.5596 8.41992L13.6196 11.29C13.778 11.4326 13.9047 11.6068 13.9914 11.8015C14.0781 11.9962 14.123 12.2068 14.123 12.4199C14.123 12.633 14.0781 12.8439 13.9914 13.0386C13.9047 13.2332 13.778 13.4075 13.6196 13.55L10.5596 16.4199" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                <span class="sr-only black"></span>
            </a>
        </div>
    </main>

    <footer>
        <div class="logoIdioma">
            <img src="/sources/logo.png" alt="logo" width="160px">
            <select name="idioma" id="SeleccionaIdioma">
                <option value="esp">Español</option>
                <option value="eng">Inglés</option>
            </select>
        </div>

        <div class="copyContactos">
            <section class="contactos">
                <article>
                    <h5>Portal</h5>
                    <div class="tarjeta">
                        <img src="/sources/administrador.svg" alt="">
                        <p>Administrador</p>
                    </div>

                    <div class="tarjeta">
                        <img src="/sources/veterinarios.svg" alt="">
                        <p>Veterinarios</p>
                    </div>
                </article>

                <article>
                    <h5>Compañia</h5>
                    <div class="tarjeta">
                        <img src="/sources/sobre-nosotros.svg" alt="">
                        <p>Sobre Nosotros</p>
                    </div>

                    <div class="tarjeta">
                        <img src="/sources/nuestros-servicios.svg" alt="">
                        <p>Nuestros Servicios</p>
                    </div>
                </article>

                <article>
                    <h5>Contáctanos</h5>
                    <div class="tarjeta">
                        <img src="/sources/telefono.svg" alt="">
                        <p>+57 300 331 4403</p>
                    </div>

                    <div class="tarjeta">
                        <img src="/sources/mail.svg" alt="">
                        <p>contacto@chilling_dogs.com</p>
                    </div>
                </article>
            </section>



            <div class="down-footer">
                <ul class="copyright">
                    &copy; 2024 Chilling Dogs
                    <li>Privacidad</li>
                    <li>Términos y condiciones</li>
                </ul>
                <article class="redesSociales">
                    <img src="/sources/instagram.svg" alt="" width="20px">
                    <img src="/sources/facebook.svg" alt="" width="20px">
                    <img src="/sources/linkedin.svg" alt="" width="15px">
                    <img src="/sources/youtube.svg" alt="" width="20px">
                </article>
            </div>
        </div>
    </footer>
</body>
</html>